<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PinBoard Categories</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<body>
<% if !@items.blank? %>

<% if @items.respond_to?(:current_page) %>
<% if !@items.first_page? %>
<h2><a href="/">All topics</a></h2>
<p>
<a href="/?page=<%= @items.prev_page %>">&lt;&lt; Prev</a>
<% else %>
<h2>All topics</h2>
<p>
<% end %>
&nbsp;Page: <%= @items.current_page %> (of  <%= @items.page_count %>)&nbsp;
<% if !@items.last_page? %>
<a href="/?page=<%= @items.next_page %>">Next &gt;&gt;</a>
<% end %>
</p>
<% end %>

<div id="content">
<% @items.each do |i| %>
<div class="entry">  
<a href="<%= CGI.unescape(i[:link]) %>"><%= i[:title] %></a>
<% if i[:content] %>
<div><%= i[:content] %></div>
<% end %>
<div><em>[<a href="/t/<%= i[:topic] %>"><%= i[:topic] %></a>]</em>&nbsp;<small><%= Time.parse(i[:created].to_s).time_since(Time.now) %> ago
<% if i[:author] %>
&nbsp;by <a href="http://pinboard.in/u:<%= i[:author] %>"><%= i[:author] %></a>
<% end %>
</small></div>
</div>
<br/>
<% end %>  
</div>

<% if @items.respond_to?(:current_page) %>
<p>
<% if !@items.first_page? %>
<a href="/?page=<%= @items.prev_page %>">&lt;&lt; Prev</a>
<% end %>
&nbsp;Page: <%= @items.current_page %> (of  <%= @items.page_count %>)&nbsp;
<% if !@items.last_page? %>
<a href="/?page=<%= @items.next_page %>">Next &gt;&gt;</a>
<% end %>
</p>
<% end %>
<% else %>
<h2>All topics</h2>
<div id="content"></div>
<% end %>

<p><a href="/admin">Administration</a></p>
<p><small>This application was build by <a href="http://zhware.net/">Stoyan Zhekov</a>.
<a href="http://github.com/zh/pinsub/">Sources</a> are available on GitHub.</small></p>
</body>
</html>
