<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Topic: <%= @topic %></title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>
<body>
<% if !@items.blank? %>

<% if @items.respond_to?(:current_page) %>
<% if !@items.first_page? %>
<h2><a href="/t/<%= @topic %>">Topic: <%= @topic %></a></h2>
<p>
<a href="/t/<%= @topic %>?page=<%= @items.prev_page %>">&lt;&lt; Prev</a>
<% else %>
<h2>Topic: <%= @topic %></h2>
<p>
<% end %>
&nbsp;Page: <%= @items.current_page %> (of  <%= @items.page_count %>)&nbsp;
<% if !@items.last_page? %>
<a href="/t/<%= @topic %>?page=<%= @items.next_page %>">Next &gt;&gt;</a>
<% end %>
</p>
<% end %> 

<div id="content">
<% @items.each do |i| %>
<div class="entry">  
<a href="<%= CGI.unescape(i[:link]) %>"><%= i[:title] %></a>
<% if i[:content] %>
<div><%= i[:content] %></div>
<% end %>
<div><small><%= Time.parse(i[:created].to_s).time_since(Time.now) %> ago
<% if i[:author] %>
 by <a href="http://pinboard.in/u:<%= i[:author] %>"><%= i[:author] %></a>
<% end %> 
</small></div>
</div>
<br/>
<% end %>  
</div>

<% if @items.respond_to?(:current_page) %>
<p>
<% if !@items.first_page? %>
<a href="/t/<%= @topic %>?page=<%= @items.prev_page %>">&lt;&lt; Prev</a>
<% end %>
&nbsp;Page: <%= @items.current_page %> (of  <%= @items.page_count %>)&nbsp;
<% if !@items.last_page? %>
<a href="/t/<%= @topic %>?page=<%= @items.next_page %>">Next &gt;&gt;</a>
<% end %>
</p>
<% end %> 
<% else %> 
<h2>Topic: <%= @topic %></h2>
<div id="content"></div>
<% end %> 

<p><a href="/">All topics</a> | <a href="/admin">Administration</a></p>
<p><small>This application was build by <a href="http://zhware.net/">Stoyan Zhekov</a>.
<a href="http://github.com/zh/pinsub/">Sources</a> are available on GitHub.</small></p>
</body>
</html>
